.rgb-input{

    .form-control{
        width: 60%;
    }

    .shades{
        width: 10%;
        margin-left: 1.5rem;
        // height: 100%;
        border-radius: 50%;
    }

    .red-shade{
        background-color: red;
    }

    .green-shade{
        background-color: green;
    }

    .blue-shade{
        background-color: blue;
    }

    
}